bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/.idea.RedisCaching/.idea/workspace.xml
.idea/.idea.RedisCaching/.idea/vcs.xml
.idea/.idea.RedisCaching/.idea/projectSettingsUpdater.xml
.idea/.idea.RedisCaching/.idea/modules.xml
.idea/.idea.RedisCaching/.idea/indexLayout.xml
.idea/.idea.RedisCaching/.idea/encodings.xml
.idea/.idea.RedisCaching/.idea/contentModel.xml
.idea/.idea.RedisCaching/.idea/codeStyles/codeStyleConfig.xml
.idea/.idea.Caching/.idea/workspace.xml
.idea/.idea.Caching/.idea/vcs.xml
.idea/.idea.Caching/.idea/projectSettingsUpdater.xml
.idea/.idea.Caching/.idea/modules.xml
.idea/.idea.Caching/.idea/indexLayout.xml
.idea/.idea.Caching/.idea/encodings.xml
.idea/.idea.Caching/.idea/contentModel.xml
.idea/.idea.Caching/.idea/codeStyles/codeStyleConfig.xml
